/* ==========================================
   Local Font
========================================== */

@font-face {
    font-family: "Tiro Bangla";
    src: url("./assets/fonts/Tiro_Bangla/TiroBangla-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Tiro Bangla";
    src: url("./assets/fonts/Tiro_Bangla/TiroBangla-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* ==========================================
   Root Variables
========================================== */

:root {
    --primary: #0f5132;
    --secondary: #f4f7fb;
    --text: #212529;
    --border: #e5e7eb;
    --white: #ffffff;

    /* Font */
    --font-primary: "Tiro Bangla", serif;
}

/* ==========================================
   Reset
========================================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================
   Global
========================================== */

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.6;
    color: var(--text);
    background: var(--secondary);
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* ==========================================
   Typography
========================================== */

* {
    font-family: var(--font-primary);
}